@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: 'Parkinsans', sans-serif;
} 