@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
    --primary: #66a80f;
    --background: #f8f9fa;
    --sub-card: #fff;

}

body {
            background-color: var(--background);
            font-family: "Parkinsans", sans-serif;
        }

        .card {
            background-color: var(--main-card);
            border: none;
        }

        .sub_card {
            background-color: var(--sub-card);
            border: none;
        }

        .title, .subcard_name {
            font-weight: 550;
            font-size: larger;
        }

        th {
            font-weight: 550;
        }

        /* -------------- Topbar -------------- */
        .topbar {
            background-color: var(--primary);
            padding: 15px 20px;
            font-weight: 600;
        }

        /* -------------- Nodes Status -------------- */
        .nodes-list {
        max-height: 225px; /* or whatever height you want */
        overflow-y: auto;
        cursor: grab;
        }

        .nodes-list.active {
        cursor: grabbing;
        user-select: none; /* prevent text highlighting while dragging */
        }

        /*make scrollbar look nice */
        .nodes-list::-webkit-scrollbar {
        width: 6px;
        }

        .nodes-list::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 3px;
        }

        .status-dot {
            height: 10px;
            width: 10px;
            background-color: green;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
        }

        /* -------------- Alerts Panel -------------- */
        .alert_card {
        width: 18rem;
        flex: 0 0 auto;
        margin-right: 0.5rem;
        }

        .alerts-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        cursor: grab;
        }

        .alerts-list.active {
        cursor: grabbing;
        user-select: none; /* prevent text highlighting while dragging */
        }

        /* Optional: nice horizontal scrollbar */
        .alerts-list::-webkit-scrollbar {
        height: 6px;
        }

        .alerts-list::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 3px;
        }

        .alert-red {
        background-color: #f8d7da;
        border: 1px solid #f5c2c7;
        color: #842029;
        }

        .alert-yellow {
        background-color: #fff3cd;
        border: 1px solid #ffecb5;
        color: #664d03;
        }

        /* -------------- Environmental Readings -------------- */
        .readings_btns {
            background-color: var(--primary);
            color: #fff;
        }

        /* -------------- Export -------------- */
        .export_card {
            background-color: var(--primary);
            color: #fff;
            border: none;
        }

        