@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100vh;
  width: 100vw;
}

* {
    font-family: 'Parkinsans', sans-serif !important;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;  
}

/* track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

/* Pulse animation keyframes */
@keyframes pulse-wildfire {
0% {
    transform: scale(1);
}
50% {
    transform: scale(0.92);
}
100% {
    transform: scale(1);
}
}

@keyframes pulse-logging-poaching {
0% {
    transform: scale(1);
}
50% {
    transform: scale(0.92);
}
100% {
    transform: scale(1);
}
}

.wildfire-card {
  animation: pulse-wildfire 1.5s infinite;
}

.logging-card, .poaching-card, .default-card {
  animation: pulse-logging-poaching 2s infinite;
}